.nosotros-logo {
	width: 20%;
}

.bg {
	height: 150vh;
}

.hero-button {
	width: auto;
	font-size: 1.9rem;
}

.hamburger,
.hamburger--squeeze,
.hamburger-box {
	display: none;
}

.carousel-inner {
	max-height: 500px;
}

.navbar-collapse {
	flex-grow: 0 !important;
}
