/* VARIABLES */
:root {
	--white2: #ecf0f1;
	--white1: #6a6c6d;
	--gray: #34383c;
}

/* GENERAL */
html {
	scroll-behavior: smooth;
}
* {
	overflow-x: hidden;
}

section,
div {
	overflow-y: hidden;
}

/* NAVBAR */

.nav-logo {
	height: 70px;
	width: auto;
}

.me-auto {
	align-items: flex-end;
}

/* VIDEO */
.bg {
	background-image: url(./..//img/bg.jpg);
	width: 100vw;
	background-attachment: fixed;
	height: 90vh;
}
.video-container {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 90vh;

	justify-content: space-between;
	align-items: center;
	overflow-y: hidden;
}
.video {
	border-radius: 12.5px;
	box-shadow: var(--shadow);

	margin-bottom: 75px;
	margin-top: 175px;
	height: auto;
	width: 85%;
}

.nosotros {
	display: flex;
	flex-direction: column;
	padding-top: 125px;
}

.nosotros-logo {
	margin: auto;
	width: 50%;
	height: auto;
	margin-bottom: 50px;
}

.somos,
.mision,
.vision {
	margin-top: 50;
}

.nosotros p {
	color: var(--white1);
}

.somos,
.vision p {
	width: 80%;
}

.mision {
	width: 60%;
	text-align: right;
	align-self: flex-end;
}

.map {
	display: flex;
	justify-content: center;
	padding: 50px 0px;
	border-radius: 12.5px;
}

.gray-wave-one {
	position: relative;
	top: 2px;
}

.informacion {
	padding-top: 100px;
}
.informacion-quees {
	margin-top: 50;
}
.informacion-text {
	background-color: var(--white2);
	padding: 0px 25px;
}
.mercadoLiniers {
	width: 60%;
}
.informacion-text p {
	color: var(--white1);
}

.informacion-mercado {
	text-align: end;
	display: flex;
	flex-direction: column;
}

.informacion-mercado h2 {
	font-size: 1.3rem;
	align-self: flex-end;
	margin-top: 25px;
}

.carousel-h2 {
	background-color: var(--white2);
	margin: 0px;
	text-align: center;
	padding: 50px 0px 0px 0px;
}

.carousel-container {
	background-color: var(--white2);
}

.carousel-bg {
	background-color: var(--white2);
}

.carousel {
	padding: 25px 0px;
	filter: drop-shadow(1px 10px 10px rgba(0, 0, 0, 0.089));
}
.carousel-inner {
	max-height: 195px;
	border-radius: 12.5px;
}

.gray-wave-two {
	position: relative;
	top: -2px;
}

/* CONTACTO */
.container-contacto {
	text-align: center;
	letter-spacing: 1.8px;
	padding-top: 125px;
}

.container-contacto h5 {
	margin-top: 25px;
}

.contact-div {
	margin-top: 25px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	color: var(--gray);
}
.contact-div p {
	margin: auto 0px auto 25px;
	padding: 0px;
	font-size: 1.2rem;
}

.contact-form {
	margin: 100px 0px;
}
.contact-form form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
.contact-form form label,
.contact-form form button {
	margin-top: 25px;
}

/* PRICES */

.prices-bg {
	background-image: url(./..//img/bgdark.jpg);
	width: 100vw;
	height: min-content;
	background-size: cover;
	overflow: hidden;
}

.prices {
	background-position: center;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 75px;
}

.prices-title {
	margin: 50px 0px;
	padding: 25px 0px;
	color: var(--white2);
	text-align: center;
	letter-spacing: 1.8px;
}

.card {
	margin-top: 25px;
	color: var(--gray);
}

/* FOOTER */
.footerwave {
	position: relative;
	top: 5px;
}
footer {
	font-size: 0.75rem;
	background-color: var(--white2);
	display: flex;
	flex-direction: column;
	align-items: center;
}
footer p {
	color: var(--gray);
}
footer a {
	color: rgb(0, 108, 122);
}
